/* GLOBAL THEMING VARIABLES */

$background_main: #955b33;
$background_window: #531515;
$background_body: #2f0c0c;
$text_interface: #ffccaa;
$text_link: #e4ea92;

$light-background_main: #eff1f5;
$light-background_window: #ccd0da;
$light-background_body: $light-background_main;
$light-text_interface: #4c4f69;
$light-text_link: #1e66f5;