<div class="window" id="table-of-content">
    <div class="w-titlebar">
        <div class="w-left">
            <div class="w-title"><span>Welcome~</span></div>
        </div>
        <div class="w-right">
            <div class="w-btn minimize"></div>
            <div class="w-btn maximize"></div>
            <div class="w-btn close"></div>
        </div>
    </div>
    <a href="/" alt="Home" title="Home">
        <div class="item first">Home</div>
    </a>

    <a href="#" alt="Blog" title="Blog">
        <div class="item"><s>Blog</s></div>
    </a>

    <a href="#" alt="Contact" title="Contact">
        <div class="item"><s>Contact</s></div>
    </a>

    <a href="#" alt="Links" title="The good links">
        <div class="item"><s>The good stinks</s></div>
    </a>
</div>
