<div id="header">
	<div id="header_l">
		<div id="icon-i18n">
		</div>
		{# <div id="internet-time" title="Internet time (.beat)"></div> #}
	</div>
	<div id="header_c">
		<span style="white-space: nowrap;">Breadcat's Lair</span>
	</div>
	<div id="header_r">
		<a href="https://breadcat.run/@Alexa" rel="me"><div id="icon-fedi" alt="Fediverse" title="Fediverse"></div></a>
		<a href="https://bsky.app/profile/breadcat.run" rel="me"><div id="icon-bluesky" alt="Bluesky" title="Bluesky"></div></a>
		<a href="#"><div id="icon-atom" alt="Atom Feed" title="Atom Feed"></div></a>
	</div>
</div>
