{% extends "base.html" %}
{% block content %}
	<head>
		<title>Breadcat's Lair</title>
		<meta name="description" content="UwU~" />
	</head>
	<div class="window" id="content">
		<div class="w-titlebar">
			<div class="w-left">
				<div class="w-title"><span>B:\</span></div>
			</div>
			<div class="w-right">
				<div class="w-btn minimize"></div>
				<div class="w-btn maximize"></div>
				<div class="w-btn close"></div>
			</div>
		</div>
		<article>
			<h1>Oh, ooooh!</h1>
			<h3>Welcome!</h3>
			<p>This is my website!</p>
			<p>But it is currently under a very… <b>very…</b> huge rework.</p>
			<p>Please come back later!~ ❤️</p>
		</article>
	</div>
{% endblock content %}
